@charset "UTF-8";

:root{
    --cor-body: #ECF2FF;
}

@media screen and (min-width: 500px) {
    body{
        background-color: var(--cor-body);
    }

    main{
        box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.244);
    }
}

@media screen and (min-width: 750px) {
    body{
        height: 100vh;

        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--cor-body);
    }

    main{
        width: 70vw;
        height: 440px;
        border-radius: 20px;
        overflow: hidden;
        max-width: 650px;
        box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.244);
    }

    .seu-resultado{
        float: left;
        width: 50%;
        height: 100%;
        border-radius: 20px;

        display: flex;
        align-items: center;
    }

    .conteudo-main{
        float: right;
        width: 50%;
        height: 100%;
    }

}